.sidebar {
  height: 100%;
  z-index: 3;
  padding: 1rem;
  margin: .5rem;
  font-size: .9rem;
  position: fixed;

}



@media (max-width:992px) {
  .sidebarHead {
    display: none;
  }
  .sidebar{
    margin: 0;
    position: none;
    margin: 0;
    z-index: 0;
    height: 100%;
   display: flex;
  }
}

@media (max-width:768px) {}

@media (max-width:600px) {}