.flex {
  display: flex;
}

.flex1 {
  flex: 1;
}

.flex2 {
  flex: 3;
}

@media (max-width:992px) {
  .flex1 {
    flex: 0;
  }

  .flex2 {
    flex: 0;
  }

}

@media (max-width:768px) {}

@media (max-width:600px) {}